.tour-img{
    object-fit: cover;
    height: 15rem;
    width: 15rem;
}

.tour-card{
    margin: 2rem auto;
}

.search-form{
    margin: 3rem 0;
}

.package-badge{
    border: 1px solid #14274e;
    background-color: white;
    color: #14274e;
    margin-top: 1.5rem;
}

.book-btn{
    color: #fff;
    background-color: #14274e;
    border-color: #14274e;
    box-shadow: none;
  }

@media(min-width: 576px){
    .tour-card {
        max-width: 960px;
      }
    
      .tour-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        width: 20rem;
      }
    
      .card-body{
        margin-left: 2rem;
      }
}

@media(max-width: 576px){
    .tour-img{
        width: 100%;
    }

    .tour-card{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.result-heading{
    margin: 2rem;
}

.filter{
    margin-left: 0;
}