/* body{
    background-image: url(../assets/logo/Roaming\ Roads.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
} */

.contact-details{
    margin: 4rem auto;
}

.email{
    color: #14274e;
}